<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="nav-item nav-link active" href="/index"><img th:src="@{/files/logo.jpg}" alt="No image" /></a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="/sessions">Расписание</a>
                    <a class="nav-item nav-link active" href="/films">Кинотека</a>
                </div>
            </div>
            <div class="d-flex" th:if="${user.fullName == 'Гость'}">
                <a class="nav-link text-secondary me-3" th:href="@{/users/register}">Регистрация</a>
                <a class="nav-link text-secondary" th:href="@{/users/login}">Войти</a>
            </div>
            <div class="d-flex" th:if="${user.fullName != 'Гость'}">
                <a class="nav-link text-secondary me-3" href="#" th:text="${user.fullName}"></a>
                <a class="nav-link text-secondary" th:href="@{/users/logout}">Выйти</a>
            </div>
        </div>
    </nav>
</div>